body{
  background:#222;
}
#simon{
  position:absolute;
  top:50%;
  left:50%;
  width:300px;
  height:300px;
  border-radius:2000px;
  border:10px solid #000;
  margin:-150px 0 0 -150px;
  overflow:hidden;
  background:#000;
}
#simon:after{
  display:block;
  content:'';
  width:100%;
  height:100%;
  background:-webkit-radial-gradient(#000,#fff);
  opacity:.2;
  position:absolute;
  pointer-events:none;
}
#simon .controls{
  
  height:50%;
  width:50%;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  margin:-25% 0 0 -25%;
  background:#000;
}
#simon .controls:before,#simon .controls:after{
  display:block;
  position:absolute;
  background:#000;
  content:'';
}
#simon .controls:before{
  height:20%;
  width:200%;
  top:40%;
  left:-50%;
}
#simon .controls:after{
  height:200%;
  width:20%;
  top:-50%;
  left:40%;
}
#simon .b{
  cursor:pointer;
  height:50%;
  width:50%;
  opacity:.5;
  float:left;
}
#simon .yellow{
  clear:left;
}
.yellow{background:yellow;}
.green{background:green;}
.blue{background:blue;}
.red{background:red;}
#simon .hl{opacity:1;}

#controls{
  position:absolute;
  top:50%;
  left:50%;
  margin:-23px 0 0 -26px;
}
#controls .msg1,#controls .msg2{
  font-family:Codystar;
  color:#FFF;
  text-align:center;
  font-size:20px;
}
